* {
    margin: 0;
    padding: 0;
}

#containAll{
    max-width: 700px;
}

/* START Landing page */
#pkBallTop {
    height: 45vh;
    width: 100%;
    position: relative;
    top: 0;
}

#pkBallMid {
    padding-bottom: 40px;
    width: 100%;
    position: relative;
    top: 55%;
}

#pkBallCircleBack {
    width: 200px;
    height: 200px;
    border-radius: 10rem;
    position: fixed;
    left: 50%;
    margin-left: -100px;
    bottom: 42%;
}

#startGame {
    font-size: 18pt;
    width: 180px;
    height: 180px;
    border-radius: 10rem;
    position: fixed;
    left: 50%;
    margin-left: -90px;
    bottom: 43%;
    transform: rotateZ(45deg);
}

#landingPage {
    position: relative;
    top: 0;
}

.slideOut {
    animation-name: slide-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.50s;
}

.slideOutBottom {
    animation-name: slide-out-bottom;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.70s;
}

@keyframes slide-out {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

@keyframes slide-out-bottom {
    0% {
        bottom: 43%;
    }
    100% {
        bottom: 100%;
    }
}
/* END Landing page */

/* START Pokemon Selector */
#playerCarousel {
    background-color: lightgray;
    border-radius: 25px;
    border: 5px solid darkgray;
    margin-top: 25px;
}

#choosePokemonText {
    margin: 10px;
    font-size: 25px;
}
/* END Pokemon Selector */


/* START Battle Container */
#battleContainer {
    background-color: lightgray;
    border-radius: 25px;
    border: 5px solid darkgray;
    padding: 10px;
    margin-top: 25px;
}

/* Computer Battle Boxes */
#compHP {
    border: 2px solid black;
}

#compHPbar {
    background-color: red;
}

#compPkmnName {

}

#compSprite {

}

#compSpriteImg {

}


/* Player  Battle Boxes */
#playerHP {
    border: 2px solid black;
}

#playerHPbar {
    background-color: red;
}

#playerPkmnName {
    
}

#playerSprite {

}

#playerSpriteImg {

}

/* Battle Buttons */

#battleButtons {
    margin-top: 5px;
}

#attackBtn {

}

#switchBtn {

}

#runBtn {

}

/* END Battle Container */



/* 
<div id="compHP">
<div id="compHPbar"> 
<p id="compPkmnName">
<div id="compSprite">
<img id="compSpriteImg">
*/